.channel-nav {
  width: 240px;
  height: 100%;
  background-color: #2f3136;
  flex-shrink: 0;
}

.user-settings-bar {
  height: 52px;
  margin-bottom: 1px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(32,34,37,.3);
  display: flex;
  flex-wrap: nowrap;
}

.channel-settings-bar {
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
  font-family: Helvetica;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.channels {
  height: 88%;
  color: gray;
  display: flex;
  flex: 1;
  -webkit-box-flex: 1;
  flex-direction: column;
}

.server-name {
  padding: 15px 0;
}

.channel-form {
  position: absolute;
  z-index: 5;
  margin: auto;
  width: 300px;
  height: 300px;
}

.V {
  font-family: sans-serif;
}

.channel-wrapper {
  height: 34px;
  overflow: hidden;
  position: relative;
  cursor: default;
  outline: 0;
  vertical-align: baseline;
}

.selected {
  background-color: rgba(79,84,92,.6);
}

.selected-text {
  color: #f6f6f7;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.channel-text {
  font-size: 16px;
  line-height: 32px;
  -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-sizing: border-box;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 32px;
    margin: 1px 0 1px 8px;
    overflow: hidden;
    padding: 0 8px;
}

.avatar-image {
  height: 30px;
  width: 30px;
}

#username {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}
