.message-group {
  border-bottom: 1px solid #eceeef;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 6px;
  padding: 20px 0;
  display: flex;
  user-select: text;
  word-wrap: break-word;
  border-bottom-color: hsla(0,0%,100%,.04);
}

.message-avatar {
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease;
  margin-right: 20px;
  margin-top: -2px;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  background-position: 50%;
  border-radius: 50%;
  position: relative;
  background-clip: padding-box;
}

.message-username {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
}

.timestamp {
  color: hsla(0,0%,100%,.2);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 6px;
  text-transform: none;
}

.body {
  outline: 0;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.message-group .comment {
  margin-right: 20px;
  min-width: 0;
}

.message-text {
  outline: 0;
}
.markup {
  color: hsla(0,0%,100%,.7);
  font-size: 0.9375rem;
  line-height: 1.1em;
  margin-top: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
