.home-icon {
  height: 50px;
  width: 50px;
  /* background-image: url('friends.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50px 50px;
  margin: 0 auto; */
  align-items: center;
  display: flex;
}
/* The icon thingy */
.home-icon i {
  font-size: 35px;
  margin: 5px 2px;
}

.home-icon:hover {
  border-radius: 40%;
  background-color: #7289da;
  transition-duration: 1s;
}

.sidebar{
  width: 88px;
  height: 100%;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}
.sidebar-item {
  height: 50px;
  position: relative;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 10px
}

.sidebar-item:hover {
  border-radius: 40%;
  background-color: #7289da;
  transition-duration: 1s;
}

.sidebar-icon {
  height: 50px;
  width: 50px;
}

.seperator {
  background: none;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  width: 30px;
  border-top: 1px solid gray;
}

.online {
  color: gray;
  margin: 0 auto;
  position: relative;
}

.plus {
  color: #72767d;
  font-size: 40px;
  font-family: 'Libre Franklin', sans-serif;
  width: 100%;
  height: 50px;
}

.add-server-button {
  border: 1px dashed #72767d;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #36393f;
  border-radius: 50%;
  text-align: center;
}

.active {
  border-left: 3px solid gray;
  border-radius: 40%;
}
